
<div id="landing" class="box">
  <h1>Clean Capture title</h1>
  <p>subtitle</p>
</div>

<div id="projects-grid" class="box">
  <p>4x2 grid showing a display our top 8 projects</p>
  <p>we can have a counter of how many times people clicked on the link to each project's socials</p>
  <p>...so here we can show the projects that people found most interesting</p>
</div>

<div id="services" class="box">
  <p>Describe our services/offering. To be discussed with Joyce.</p>
  <p>to be displayed in a visually stimulating way... React options?</p>
</div>

<div id="about" class="box">
  <p>What we're about. To be discussed with Joyce.</p>
  <p>to be displayed in a visually stimulating way... React options?</p>
</div>


<div id='root'></div>
<%= javascript_pack_tag 'home_test' %>
